body{
    margin: 0;
    padding: 0;
    background:url(../pictures/amazonessvillage-tf05-jp-vg.png);
    background-size: cover;
    background-position-y:-500px;
    background-repeat: no-repeat;
    font-family: sans-serif; 
    background-color: #000;
}

.loginbox {
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;

}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;

}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;

}

.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="button"]{
    border:none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.submitone{
    
    background-color: red;
}
.submittwo{
    
    background-color: blue;
}
.loginbox input[type="button"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;

}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}
.loginbox a:hover{
    color: #ffc;
}

.playertwo {
    display: none;
}
.register {
    display: none
}
.submitregister {
    background-color: #ffc107;
}
.ai {
    color: blue;
    background-color: #000;
}
@media (max-width: 320px){
    body{
        margin: 0;
        padding: 0;
        background:url(../pictures/amazonessvillage-tf05-jp-vg.png);
        background-size: cover;
        background-position-y:-30px;
        
        font-family: sans-serif;
        background-color: #000;
    }
    .loginbox {
        width: 200px;
        height: 210px;
        background: #000;
        color: #fff;
        top: 30%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        box-sizing: border-box;
        padding: 60px 30px;
    }
    .avatar{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        top: -20px;
        left: calc(50% - 25px);
    }
    h1{
        margin: 0;
        padding: 0 0 20px;
        text-align: center;
        font-size: 11px;
    
    }
    .loginbox input[type="button"]{
        border:none;
        outline: none;
        height: 20px;
        color: #fff;
        font-size: 9px;
        border-radius: 10px;
    }
}
@media (max-width: 1024px){
    body{
        margin: 0;
        padding: 0;
        background:url(../pictures/amazonessvillage-tf05-jp-vg.png);
        background-size: cover;
        background-position-y:-100px;
        background-repeat: no-repeat;
        font-family: sans-serif;
        background-color: #000;
    }
}
@media (max-width: 1366px){
    body{
        margin: 0;
        padding: 0;
        background:url(../pictures/amazonessvillage-tf05-jp-vg.png);
       
        background-size: cover;
        background-position-y:-400px;
        background-repeat: no-repeat;
        font-family: sans-serif;
        background-color: #000;
    }
}