body {
    font-family: sans-serif;
}

.board {
    width: 1000px;
    height: 1000px;
    margin: 20px;
    border: 25px solid #333;
    left: 25%;
    position: absolute;
}

.box {
    width: 100px;
    height: 100px;
    float: left;
    font-size: 80px;
    text-align: center;
    vertical-align: middle;
}



/** ####################################################### */

.black {
    background-color: #999;
}

.white {
    background-color: #fff;
}

.box.selected {
    background-color: yellow;
    cursor: pointer;
}

.box.arrowselected {
    background-color: greenyellow;
    cursor: pointer;
}

.box.ready {
    background-color: green;
}

.box.potential {
    background-color: lightskyblue;
    border: 0.1px solid rgb(24, 155, 236);
}

.box.not-allowed {
    background: coral;
}

.box.pointer {
    cursor: pointer;
}

/** ####################################################### */

.message {
    position: absolute;
    width: 200px;
    left: calc(-142px + 50vw);
    top: calc(-10px + 50vh);
    text-align: center;
    padding: 10px 50px;
}

.message.white-wins {
    display: none;
    background: white;
    color: black;
    box-shadow: 0 0 150px 75px black;

}

.message.black-wins {
    display: none;
    background: black;
    color: white;
    box-shadow: 0 0 150px 75px white;
}

.pieceblack {
    background: url(Amazoness1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.piecewhite {
    background: url(Amazoness2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pieceblackselect {
    background: url(Amazoness1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.piecewhiteselect {
    background: url(Amazoness2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.arrow {
    background: url(Arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Ui {
    width: 320px;
    height: 800px;
    background: #999;
    color: #fff;
     /* border: 3px solid red; */
    left: 5%;
    top:10%;
   
    position: fixed; 
    /* transform: translate(-50%, -50%); */
    /* box-sizing: border-box;  */
     /* padding: 20px 10px;  */
}

.grid-container{
    display: grid;    
    width: 100%;
    height: 100%;
    align-content: space-evenly;
}

.grid-item{
    margin-left: 10%;
    width: 80%;
    height: 25%;
    left: 10%;
    
}

.currentPlayerone {
    color: red;
    font-size: 40px;
}

.currentPlayerone {
    color: blue;
    font-size: 40px;
    font-weight: bold;
}

.CurrentPlayer {
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.resetGame {
    top: 70%;
    position: relative;
    border: none;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.resetGame.help {
    top: 75%;
}

.resetGame:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}


@media (max-width: 1366px) {
    .board {
        width: 500px;
        height: 500px;
        margin: 20px;
        border: 25px solid #333;
        left: 25%;
        position: absolute;
    }

    .box {
        width: 50px;
        height: 50px;
        float: left;
        font-size: 80px;
        text-align: center;
        vertical-align: middle;
    }

    .Ui {
        width: 160px;
        height: 400px;
        background: #999;
        color: #fff;
        border: 3px solid red;
        left: 10%;
        top: 210px;
        position: fixed;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 70px 25px;
    }

    .currentPlayerone {
        color: red;
        font-size: 20px;
        font-weight: bold;
    }

    .currentPlayerone {
        color: blue;
        font-size: 20px;
        font-weight: bold;
    }

    .CurrentPlayer {
        color: black;
        font-size: 15px;
        font-weight: bold;
    }

    .resetGame {
        top: 60%;
        position: relative;
        border: none;
        width: 100%;
        margin-bottom: 20px;
        border-bottom: 1px solid #fff;
        background: transparent;
        outline: none;
        height: 20px;
        font-size: 8px;
        border-radius: 20px;
        background-color: black;
        color: white;
        text-align: center;
    }
        .resetGame.help {
            top: 60%;
        }
}

@media (max-width: 1024px) {
    .board {
        width: 300px;
        height: 300px;
        margin: 20px;
        border: 25px solid #333;
        left: 25%;
        position: absolute;
    }

    .box {
        width: 30px;
        height: 30px;
        float: left;
        font-size: 80px;
        text-align: center;
        vertical-align: middle;
    }

    .Ui {
        width: 100px;
        height: 300px;
        background: #999;
        color: #fff;
        border: 3px solid red;
        left: 10%;
        top: 150px;
        position: fixed;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 70px 6px;
    }

    .currentPlayerone {
        color: red;
        font-size: 10px;
        font-weight: bold;
    }

    .currentPlayerone {
        color: blue;
        font-size: 10px;
        font-weight: bold;
    }

    .CurrentPlayer {
        color: black;
        font-size: 9px;
        font-weight: bold;
    }

    .resetGame {
        top: 80%;
        position: relative;
        border: none;
        width: 100%;


        margin-bottom: 5px;
        border-bottom: 1px solid #fff;
        background: transparent;
        outline: none;
        height: 15px;
        text-align: center;
        font-size: 6px;
        border-radius: 10px;
        background-color: black;
        color: white;

    }
        .resetGame.help {
            top: 70%;
        }
}

@media (max-width: 320px) {
    .board {
        width: 50px;
        height: 50px;
        margin: 20px;
        border: 5px solid #333;
        left: 25%;
        position: absolute;
    }

    .box {
        width: 5px;
        height: 5px;
        float: left;
        font-size: 80px;
        text-align: center;
        vertical-align: middle;
    }

    .Ui {
        width: 40px;
        height: 70px;
        background: #999;
        color: #fff;
        border: 0.1px solid red;
        left: 20%;
        top:6%;
        position: fixed;
        transform: translate(-50%,0%);
        box-sizing: border-box;
        padding: 8px 1px;
    }

    .currentPlayerone {
        color: red;
        font-size: 6px;
        font-weight: bold;
    }

    .currentPlayerone {
        color: blue;
        font-size: 6px;
        font-weight: bold;
    }

    .CurrentPlayer {
        color: black;
        font-size: 6px;
        font-weight: bold;
    }

    .resetGame {
        top: -40%;
        position: relative;
        border: none;
        width: 100%;


        margin-bottom: 0px;
        border-bottom: 1px solid #fff;
        background: transparent;
        outline: none;
        height: 9px;
        text-align: center;
        font-size: 3px;
        border-radius: 10px;
        background-color: black;
        color: white;

    }
        .resetGame.help {
            top: -80%;
        }

}