
body{
    font-family: sans-serif;
}
.board {
    width: 1000px;
    height: 1000px;
    margin: 20px;
    border: 25px solid #333;
    left: 25%;
    position: absolute;
}
.box {
    width: 100px;
    height: 100px;
    float: left;
    font-size: 80px;
    text-align: center;
    vertical-align: middle;
}


    
/** ####################################################### */

.black {
    background-color: #999;    
}
.white {   
    background-color: #fff;
}
.box.selected {
    background-color: yellow;
    cursor: pointer;
}
.box.arrowselected {
    background-color: greenyellow;
    cursor: pointer;
}
.box.ready {
    background-color: green;
}
.box.potential {
    background-color: lightskyblue;
    border: 0.1px solid rgb(24, 155, 236);
}
.box.not-allowed {
    background: coral;
}
.box.pointer {
    cursor: pointer;
}

/** ####################################################### */

.message {
    position: absolute;
    width: 200px;
    left: calc(-142px + 50vw);
    top: calc(-10px + 50vh);
    text-align: center;
    padding: 10px 50px;
}
.message.white-wins {
    display: none;
    background: white;
    color: black;
    box-shadow: 0 0 150px 75px black;

}
.message.black-wins {
    display: none;
    background: black;
    color: white;
    box-shadow: 0 0 150px 75px white;
}
.pieceblack {
    background:url(Amazoness1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.piecewhite {
    background:url(Amazoness2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.arrow {
    background: url(Arrow.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Ui {
    width: 320px;
    height: 800px;
    background: #999;
    color: #fff;
    border: 3px solid red;
    left: 10%;
    top: 420px;
    position: fixed;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.currentPlayerone{
    color: red;
    font-size: 40px;
}
.currentPlayerone{
    color: blue;
    font-size: 40px;
    font-weight: bold;
}
.CurrentPlayer{
    color: black;
    font-size: 30px;
    font-weight: bold;
}
.resetGame{
    top: 80%;
    position: relative;
    border:none;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
    border-radius: 20px;
    background-color: black;
    color: white;
}
.resetGame:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}